.body{
	display: flex;
	justify-content: space-around;
}
.section{
	background: brown;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	margin-top: 50px;
	justify-content: space-around;
	box-shadow: 2px 10px 50px black;

}
.heading{
	font-family: ;
	text-shadow: 3px 3px 3px black; 
	color:brown;
}
.images{
	border: 4px solid black;
	display: flex;
	margin: auto;
	text-align: center;
	justify-content: space-around;
	height: 350px;
	width: 350px;
}
.images img:hover{
box-shadow: 0px 10px 50px black;
}

.set-alarm{
	font-family: sans-serif;
	font-size: 20px;
	display: flex;
	justify-content: space-around;
	margin: auto;
	color: white;
	text-shadow: 2px 2px 2px black;

}
.time{
	font-size: 30px;
	font-family: sans-serif;
	color: white;
	background: brown;

}
.time:hover{
	box-shadow: 0px 10px 50px black;
}
.flex-box{

	justify-content: space-around;
}
.alarmsys{
	font-size: 15px;
	font-family: sans-serif;
	color: white;

}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: brown;
}

.clock {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-image: url("https://i.postimg.cc/hjVspvcJ/clock.png");
  background-size: cover;
  display: flex;
  /*content: "";
  height: 395px;
  width: 550px;
  background-color: #2a2f40;*/
  justify-content: center;
  align-items: center;
  box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
    inset 0 -15px 15px rgba(255, 255, 255, 0.05), 0 15px 15px rgba(0, 0, 0, 0.3),
    inset 0 15px 15px rgba(0, 0, 0, 0.3);
}
/*align-items: center;
  background-color: #ff6d39;
  margin-left: 93px;*/
.clock::before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  z-index: 1000;
}

.hour,
.min,
.sec {
  position: absolute;
}
/*align-items: center;
  background-color: #ff6d39;
  margin-left: 93px;*/
.hr {
  width: 160px;
  height: 160px;
}

.mn {
  width: 190px;
  height: 190px;
}

.sc {
  width: 230px;
  height: 230px;
}

.hr,
.mn,
.sc {
  display: flex;
  justify-content: center;
}
/*align-items: center;
  background-color: #ff6d39;
  margin-left: 93px;*/
.hr::before {
  content: "";
  width: 8px;
  height: 80px;
  background-color: #ff105e;
  z-index: 100;
  border-radius: 5px;
}
/*content: "";
  height: 395px;
  width: 550px;
  background-color: #2a2f40;*/
.mn::before {
  content: "";
  width: 6px;
  height: 90px;
  background-color: rgb(15, 105, 207);
  z-index: 11;
  border-radius: 5px;
}
/*align-items: center;
  background-color: #ff6d39;
  margin-left: 93px;*/
.sc::before {
  content: "";
  width: 2px;
  height: 140px;
  background-color: #fff;
  z-index: 10;
  border-radius: 5px;
}


.section{
  background: brown;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
  justify-content: space-around;
  box-shadow: 2px 10px 50px black;

}
.heading{
  font-family: ;
  text-shadow: 3px 3px 3px black; 
  color:brown;
}
.images{
  border: 4px solid black;
  display: flex;
  margin: auto;
  text-align: center;
  justify-content: space-around;
  height: 350px;
  width: 350px;
}
.images img:hover{
box-shadow: 0px 10px 50px black;
}

.set-alarm{
  font-family: sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  margin: auto;
  color: white;
  text-shadow: 2px 2px 2px black;

}
.time{
  font-size: 30px;
  font-family: sans-serif;
  color: white;
  background: brown;

}
.time:hover{
  box-shadow: 0px 10px 50px black;
}
.flex-box{

  justify-content: space-around;
}
.alarmsys{
  font-size: 15px;
  font-family: sans-serif;
  color: white;

}
.clock{
	margin: auto;
}
